@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-abysse: #002B49;
  --color-turquoise: #00A9CE;
  --color-background-light: #F8FAFC;
  --color-background-dark: #020617;

  --shadow-card: 0 20px 25px -5px rgba(0, 43, 73, 0.05), 0 8px 10px -6px rgba(0, 43, 73, 0.05);
  --shadow-card-hover: 0 25px 50px -12px rgba(0, 43, 73, 0.15);

  --radius-4xl: 2.5rem;
}

@layer base {
  body {
    background-color: var(--color-background-light);
    color: var(--color-abysse);
    -webkit-font-smoothing: antialiased;
    position: relative;
    min-height: 100vh;
  }


}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}